<div class="container-fluid site-header">
    <div class="row">
        <img class="img-responsive col-md-2" src="~/Content/Bilder/logo.gif" height="150" width="150" />
        <div class="col-md-10"></div>
    </div>
</div>